:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  display: flex;
  place-items: center;
  flex-direction: column;
  border: 1px solid #646cff;
  margin: 3% auto;
  max-width: 30em;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 1px 1px 30px rgba(100, 108, 255, 0.5);
}

.title {
  display: grid;
  place-items: center;
}

.title h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-shadow: 1px 1px 25px #646cff;
  margin: 0;
}

.calcBody {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  min-width: 5em;
  height: 5em;
  font-size: 1.15em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.5em;
}

#buttonC {
  background-color: #f5f4f4;
  color: #1a1a1a;
}

button:last-child {
  background-color: #ff8c00;
  grid-column: span 4;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
